<div class="container">
    <div class="row" style="margin-top: 60px;">
        <div class="col-md-5" style="padding: 0px 20px 0px 30px;">
    		<h3>Salas disponibles</h3>

            <ul class="list-group">
               <%= render @chat_rooms %>
            </ul>

    		<p class="lead"><%= link_to 'Nueva sala', new_chat_room_path, class: "btn btn-success" %></p>
 		</div>
        <div class="col-md-7">
            <h2>Info</h2>
        </div>
    </div>
</div>
