<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
             <div class="row" style="margin-top: 80px;">
                <div class="col-md-6 mx-auto">

					<h1>Chat rooms</h1>

					<ul>
					  <%= render @chat_rooms %>
					</ul>

					<p class="lead"><%= link_to 'New chat room', new_chat_room_path, class: 'btn btn-primary' %></p>


 				</div>
            </div>
            <!--/row-->
        </div>
        <!--/col-->
    </div>
    <!--/row-->
</div>
<!--/container-->