<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
             <div class="row" style="margin-top: 80px;">
                <div class="col-md-6 mx-auto">

					<h1>Salas disponibles</h1>

                    <ul class="list-group">
                       <%= render @chat_rooms %>
                    </ul>

					<p class="lead"><%= link_to 'Nueva sala', new_chat_room_path, class: "btn btn-success" %></p>

 				</div>
            </div>
            <!--/row-->
        </div>
        <!--/col-->
    </div>
    <!--/row-->
</div>
<!--/container-->