
<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
             <div class="row" style="margin-top: 80px;">
                <div class="col-md-6 mx-auto">

					<h1>Nueva Sala</h1>

					<%= form_for @chat_room do |f| %>
					  <div class="form-group">
					    <%= f.label :'Nombre de la nueva sala' %>
					    <%= f.text_field :title, autofocus: true, class: 'form-control' %>
					  </div>

					  <%= f.submit "Agregar!", class: "btn btn-success" %>
					<% end %>

 				</div>
            </div>
            <!--/row-->
        </div>
        <!--/col-->
    </div>
    <!--/row-->
</div>
<!--/container-->