<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide" data-interval="false">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <img src="" style="width:100%" class="img-responsive">
      <div class="container">
        <div class="carousel-caption">
          <h1>No eres lo que logras... eres lo que superas.</h1>
          <p></p>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="" class="img-responsive">
      <div class="container">
        <div class="carousel-caption">
          <h1>El poder esta dentro de ti.</h1>
          <p></p>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="" class="img-responsive">
      <div class="container">
        <div class="carousel-caption">
          <h1>Nunca seas esclavo de tu pasado sino arquitecto de tu futuro.</h1>
          <p></p>
        </div>
      </div>
    </div>
  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="icon-next"></span>
  </a>  
</div>

<!-- Content
================================================== -->

<div class="container" style="margin-bottom: 20px;">
  <div class="row">
    <div class="col-sm-6">
      <h1>¿Quienes somos?</h1>
    </div>
    <div class="col-sm-6">
      <h1>¿Como te podemos ayudar?</h1>
    </div>
  </div>
</div>

<!-- Footer
================================================== -->
<footer>
  <div class="container-fluid bg-primary py-3">
    <div class="container">
      <div class="row py-3">
        <div class="col-md-9">
          <p class="text-white">Lorem ipsum.</p>
        </div>
        <div class="col-md-3">
          <div class="d-inline-block">
            <div class="bg-circle-outline d-inline-block">
              <a href="https://www.facebook.com/" class="text-white"><i class="fa fa-2x fa-fw fa-facebook"></i>
		</a>
            </div>

            <div class="bg-circle-outline d-inline-block">
              <a href="https://twitter.com/" class="text-white">
                <i class="fa fa-2x fa-fw fa-twitter"></i></a>
            </div>

            <div class="bg-circle-outline d-inline-block">
              <a href="https://www.linkedin.com/company/" class="text-white">
                <i class="fa fa-2x fa-fw fa-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
