
<% content_for :stylesheets do %>
  #topMenu {display: none}
<% end %>

<p>
  <strong>Cita:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Fecha inicio:</strong>
  <%= @event.start_time %>
</p>

<p>
  <strong>Fecha finalizacion:</strong>
  <%= @event.end_time %>
</p>