 @import "font-awesome";
 @import "simple_calendar";
 @import "bootstrap";
 @import "simple_discussion";

/*******************
	Style Events
********************/
 .calendar-heading{
  	visibility: collapse;
 }

 .table-striped{
 	font-size: 12px;
 }

 /*******************
	Style Top Menu
********************/
 #topMenu{
 	margin-top: 5px;
  background-color: #3A3C42;
 }

 html {
  font-size: 14px;
}

 /*******************
	Chat
********************/

#messages {
  overflow: scroll;;
  max-height: 300px;
  overflow-x: hidden;
  background-image: url("chat2.jpg");
  overflow-y: auto;
  .avatar {
    margin: 0.3rem;
  }
}

#message_body{
   background:#eee;
   max-height: 40px;
}

.card-block{
    padding: 10px 10px 10px 10px;
}

.card{
    //opacity: 0.5;
    //font-weight: bold;
}

.chatButtonSend{
	background: transparent;
	border: none;
	margin-left: -18px;
}

#carouselFade{
  margin-top: -45px
}

.carouselFadeImg{
  height:350px; 
  margin-bottom:20px;
  background-color: #3A3C42;
}

.buttonHomeEfect:hover{
  background-color: #FF9717;
}