 @import "font-awesome";
 @import "simple_calendar";
 @import "bootstrap";

/*******************
	Style Events
********************/
 #calendarModalEvent {
  	transition: 0.5s;
  	margin-left: 40px;
 }

 #calendarModalEvent:hover{
	margin-left: 20px;
	transition: 0.5px;
 }

 .calendar-heading{
  	visibility: collapse;
 }

 .table-striped{
 	font-size: 12px;
 }

 /*******************
	Style Top Menu
********************/
 #topMenu{
 	margin-top: 5px;
 }

 html {
  font-size: 14px;
}